<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.txt">

  <targets>
    <target xsi:type="File"
            name="allfile"
            fileName="${basedir}/logs/app-${shortdate}.txt"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="allfile" />
  </rules>
</nlog>
